html {
    background-image: url(assets/images/8b8816979d0d23ed0b8d654037fa064f.png);
  }

li {
    display: inline;
    font-family: 'Josephin Sans', sans-serif;
    text-align: center;
    padding: 20px 85px;
    border: solid;
    border-color: whitesmoke;opacity:0.6;
    background-color:whitesmoke;opacity:0.6;

}


li a {
    display: inline;
    color: #798C96;
  
}


h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: darkslategray;
    text-align: end;
    font-size: 24px;
    padding-right: 70px;
    padding-bottom: -20px;

}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: #273285;
    text-align: end;
    padding-right: 70px;
    
}

p.p1 {
    font-family: 'Josefin Sans', sans-serif;
    color: lightslategrey;
    padding-left: 300px;
    padding-right: 70px;
    padding-top: 10px;
    line-height: 18px;
    width: 800px;
    text-align: center;

}    

p.p2 {
    font-family: 'Josefin Sans', sans-serif;
    text-align: end;
    font-size: 20px;
    color:  #273285;
    padding-right: 70px;

}

p.p3 {
    font-family: 'Josephin Sans', sans-serif;
    text-align: center;
    font-size: 24px;
    color: #798C96;
}

p.p4 {
    font-family: 'Josephin Sans', sans-serif;
    text-align: center;
    font-size: 24px;
    color: #798C96;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: auto;
    border-radius: 8px;
    position: relative;

}


.footer {
    font-family: 'Josefin Sans', sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:whitesmoke;opacity:0.6;
    color: #798C96;
    text-align: center;
}


.btn{
    background-color: #6EFFE3;
    color: white;
    padding: 12px 12px;
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    border: 2px solid #6EFFE3;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    position: relative;
    transition: all .4s ease;
    object-position: center;

}



.btn:hover{
  background-color: #fff;
  border-color: #6EFFE3;
  color: #6EFFE3;
   
}

.ipt{
	padding: 8px 0px 4px 0px;
	border: 0;
	font-size: 18px;
	border-bottom: 2px solid #222;
	outline: none;
    transition: all .4s ease;
    font-family: 'Josephin Sans', sans-serif;
    background-color:whitesmoke;opacity:0.6;
}
