html {
    background-image: url(assets/images/8b8816979d0d23ed0b8d654037fa064f.png);
  }

  li {
    display: inline;
    font-family: 'Josephin Sans', sans-serif;
    text-align: center;
    padding: 20px 85px;
    border: solid;
    border-color: #798C96;
    background-color: #798C96;

}
li a {
    display: inline;
    width: 60px;
    color: #eee;

   
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: darkslategray;
    text-align: end;
    font-size: 24px;
    

}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: #273285;
    text-align: end;
    
}

p.p1 {
    font-family: 'Josefin Sans', sans-serif;
    color: lightslategrey;
    padding-left: 300px;
    line-height: 18px;
    width: 800px;
    text-align: center;


}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: auto;
    border-radius: 8px;
}